<div layout="row" flex layout-fill layout-align="center center">

    <div flex="50" flex-xs="100" flex-sm="100">

        <div hide-xs class="padding-10">



        </div>

        <md-card>

            <md-content class="md-padding  margin-top-20 padding-top-10">

                <div layout="row" layout-align="center center">
                    <img ng-src="{{::vm.triSettings.logoAll}}" alt="{{vm.triSettings.name}}">
                </div>
                <div layout="row" layout-align="center center">
                    <h1 class="md-subhead" >Forgot my password</h1>
                </div>
                <md-divider></md-divider>

                <p translate>Please Enter a new password</p>
                <form name="vm.password">

                    <md-input-container class="md-block">
                        <label for="password">New password</label>
                        <input id="password" label="password" name="password" type="password" ng-model="vm.user.newPassword" ng-pattern="vm.exPatterns.passwordPattern" required />

                        <div ng-if="vm.submitted || vm.password.password.$dirty" ng-messages="vm.password.password.$error" role="alert">
                            <div ng-message="required"><span translate>Please enter a password</span></div>
                        </div>
                    </md-input-container>


                    <md-input-container class="md-block">
                        <label for="password">Confirm password</label>
                        <input id="password" label="password" name="password" type="password" ng-model="vm.user.newPassword" ng-pattern="vm.exPatterns.passwordPattern" required />

                        <div ng-if="vm.submitted || vm.password.password.$dirty" ng-messages="vm.password.password.$error" role="alert">
                            <div ng-message="required"><span translate>Rewrite password</span></div>
                        </div>
                    </md-input-container>

                    <md-button  class="md-raised md-primary full-width margin-left-0 margin-right-0 margin-top-10 margin-bottom-10" ng-click="vm.resetPasswordClick()">Save and continue</md-button>

                </form>
            </md-content>
        </md-card>

    </div>
</div>
