<?xml version="1.0" encoding="utf-8"?>
  <connectionStrings>
    <!--<add name="BudgetContext" connectionString="Data Source=.\sqlexpress;Initial Catalog=BudgetManagement;Integrated Security=SSPI;MultipleActiveResultSets=true;" providerName="System.Data.SqlClient" />-->
    <add name="BudgetContext" connectionString="Server=tcp:bounbudget.database.windows.net,1433;Initial Catalog=badget;Persist Security Info=False;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" providerName="System.Data.SqlClient" />
  </connectionStrings>
