<div layout="column" class="margin-10">
    <div flex layout-margin>
        <md-card layout-fill style="min-height: 300px;">
            <md-card-content>
                <md-button ng-click="vm.newAccount($event)" class="md-fab md-warn md-fab-bottom-right" aria-label="Create Account" style="font-size: 11px !important;">
                    <md-icon md-font-icon="zmdi zmdi-plus"></md-icon>
                    <md-tooltip>Create Account</md-tooltip>
                </md-button>
                
                <md-list flex>
                    <md-subheader class="md-no-sticky">Account list</md-subheader>
                    <md-list-item ng-click="vm.editAccount($event, account)" class="md-2-line" ng-repeat="account in vm.accounts" ng-click="null">
                        <md-icon md-font-icon="zmdi zmdi-money-box" style="color:green;" ></md-icon>
                        <div class="md-list-item-text" layout="column">
                            <h3>{{ account.description }}</h3>
                            <h4>{{ account.limit }}</h4>                            
                        </div>
                    </md-list-item>
                </md-list>

            </md-card-content>

        </md-card>

    </div>

</div>
