<md-dialog aria-label="Ürün özellikleri" flex="70" flex-xs="100" flex-sm="90" flex-md="90">
    <md-toolbar class="md-accent">
        
    </md-toolbar>

    <md-dialog-content layout="column" class="padding-10">
        <div layout="column">
            <div layout-margin>
                <md-card>
                    <md-card-content>
                        <md-input-container md-no-float class="md-block">
                            <md-icon md-font-icon="zmdi zmdi-comment-alt-text"></md-icon>
                            <input type="text" ng-model="vm.account.description" placeholder="Name">
                        </md-input-container>
                        <md-input-container md-no-float class="md-block">
                            <md-icon md-font-icon="zmdi zmdi-format-list-bulleted"></md-icon>
                            <md-select placeholder="Type" ng-model="vm.accountType.accountTypeId">
                                <md-option ng-value="accountType.id" ng-repeat="accountType in vm.accountTypes"> {{ accountType.name }} </md-option>
                            </md-select>
                        </md-input-container>
                        <md-input-container md-no-float class="md-block">
                            <md-icon md-font-icon="zmdi zmdi-account"></md-icon>
                            <md-select placeholder="Currency" ng-model="vm.currency.currencyId">
                                <md-option ng-value="currency.id" ng-repeat="currency in vm.currencies"> {{ currency.name }} </md-option>
                            </md-select>
                        </md-input-container>
                        <md-input-container md-no-float class="md-block">
                            <md-icon md-font-icon="zmdi zmdi-money-box"></md-icon>
                            <input type="number" ng-model="account.limit" placeholder="Limit">
                        </md-input-container>
                        <md-input-container md-no-float class="md-block">
                            <md-icon md-font-icon="zmdi zmdi-money-box"></md-icon>
                            <input type="number" ng-model="account.balance" placeholder="Balance">
                        </md-input-container>
                        <md-input-container style="margin-left:-16px;" md-no-float class="md-block">

                            <md-datepicker ng-model="account.dueDate" md-placeholder="Due date"></md-datepicker>
                        </md-input-container>

                        <div layout="column" layout-align="center center" flex>
                            <md-button class="md-raised md-accent" aria-label="flat button">Save</md-button>
                    </md-card-content>

                </md-card>

                </div>

            </div>
    </md-dialog-content>
</md-dialog>
