<div layout="column" class="margin-10">
    <div flex layout-margin>
        <md-card layout-fill style="min-height: 300px;">
            <md-card-content>
                <md-input-container md-no-float class="md-block">
                    <md-icon md-font-icon="zmdi zmdi-account"></md-icon>
                    <md-select placeholder="Account" ng-change="vm.accountChange()" ng-model="vm.accountRight.accountId">
                        <md-option ng-value="account.id" ng-repeat="account in vm.accounts"> {{ account.description }} </md-option>
                    </md-select>
                </md-input-container>

                <div flex>
                    <div class="md-toolbar-tools">
                        <div flex="40" class="md-toolbar-tools" translate>Rights</div>

                        <span flex></span>

                        <md-button ng-click="vm.addRight($event)" class="md-default md-raised md-accent" aria-label="{{'TODO.ADD-TODO' | translate}}">
                            <md-icon md-font-icon="zmdi zmdi-plus"></md-icon>
                            <span hide-xs> New Right</span>
                        </md-button>
                    </div>

                    <md-card class="margin-bottom-20">

                        <md-card-content class="overflow-auto">
                            <md-grid-list layout-margin md-cols-gt-md="4" md-cols="3" md-cols-md="3" md-cols-xs="3" md-cols-xs-md="2" md-row-height-gt-md="9:4"
                                md-row-height-gt-sm="7:2" md-row-height="8:4" md-gutter-gt-md="15px" md-gutter-md="8px" md-gutter="4px">

                                <md-grid-tile md-colspan-gt-xs="1" md-rowspan-gt-xs="1" ng-repeat="item in vm.accountRights" ng-if="item.valid">

                                    <md-button class="md-raised" aria-label="Bölge Adı" palette-background="teal:200" 
                                        style="width: 100%; height: 100%; margin: 0;"
                                        ng-click="vm.editRight($event,item)">
                                        <span class="md-subhead"> {{::item.userName}}</span>
                                    <md-divider ></md-divider>
                                    <span class="md-body-1" ng-if="item.flAdmin" > 
                                        <md-icon md-font-icon="zmdi zmdi-check"></md-icon>
                                        Admin
                                    </span>
                                    <span class="md-body-1" ng-if="item.flWrite" > 
                                        <md-icon md-font-icon="zmdi zmdi-check"></md-icon>
                                        Write
                                    </span>
                                    </md-button>
                                </md-grid-tile>
                            </md-grid-list>
                        </md-card-content>
                    </md-card>
                </div>
            </md-card-content>
        </md-card>

    </div>

</div>
