<md-dialog aria-label="Mango (Fruit)" flex="30" flex-xs="100" flex-sm="95">
    <md-toolbar md-theme="{{triSkin.elements.content}}">
        <div class="md-toolbar-tools">
            <h2>
                <span translate>Account Right</span>
            </h2>
        </div>
    </md-toolbar>

    <md-divider></md-divider>

    <md-dialog-content class="md-dialog-content padding-20">
        <form ng-submit="vm.saveAccountRight()" name="rightForm" novalidate layout="column">
            <md-input-container>
                <label class="md-subhead">Username</label>
                <input ng-model="vm.accountRight.userName" ng-disabled="vm.accountRight.id>0" class="dialog-close md-padding" type="text"
                    maxlength="15" name="Name" required/>
                <div ng-messages="rightForm.name.$error">
                    <div ng-message when="required">
                        <span translate>Username can not be null</span>
                    </div>
                </div>
            </md-input-container>

            <md-input-container>
                <md-checkbox class="md-primary" ng-model="vm.accountRight.flAdmin" aria-label="Primary Checkbox">
                    Admin                    
                    </md-checkbox>
                                    <md-checkbox class="md-primary" ng-model="vm.accountRight.flWrite" aria-label="Primary Checkbox">
                    Write
                </md-checkbox>
            </md-input-container>

            

        </form>
    </md-dialog-content>
    <md-dialog-actions layout="row">
        <span flex></span>
        <md-button class="md-raised" aria-label="Vazgeç" ng-click="vm.cancel()">Cancel</md-button>

        <md-button ng-click="vm.deleteAccountRight()" aria-label="Sil" class="md-raised md-warn" ng-if="vm.accountRight.id>0" ng-disabled="rightForm.$invalid">
            <md-icon md-font-icon="zmdi  zmdi-delete "></md-icon> Delete
        </md-button>

        <md-button type="submit" aria-label="{{vm.accountRight.id >0 ? 'Güncelle' : 'Ekle'}}" ng-click="vm.saveAccountRight()" class="md-raised md-accent"
            ng-disabled="rightForm.$invalid">
            <md-icon md-font-icon="zmdi   {{vm.accountRight.id >0 ? 'zmdi-edit' : 'zmdi-plus'}}"></md-icon>
            {{vm.accountRight.id >0 ? 'Update' : 'Add'}}
        </md-button>
    </md-dialog-actions>
</md-dialog>
